@import url('reset.css');




.hide{
	display:none;
}

.show{
	display:block;
}




.button {
	cursor:pointer;
}







.wrapper {
	height:700px;
	width:650px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

.title {
	width:650px;
	height:45px;
	padding-top:5px;
	font-size:2em;
	text-align:center;
}

.subtitle {
	width:650px;
	height:45px;
	padding-top:5px;
	font-size:2em;
	text-align:center;
}

.buffer{
	width:650px;
	height:15px;
	padding-top:5px;
	font-size:2em;
	text-align:center;
}

.skillbox{
	width:650px;
	height:150px;
}

.gamescreen {
	width:650px;
	height:350px;
	
}







.yourside {
	height:350px;
	width:225px;
	float:left;
}

.you {
	height:342px;
	width:167px;
	border:4px solid black;
	float:left;
}

.yourHealthBox1 {
	height:350px;
	width:50px;
	float:left;
}

.healthBubble {
	width:18px;
	height:18px;
	border:1px solid black;
	margin-left:15px;
	margin-bottom:2px;
	background-color:#a11;
}





.theirside {
	height:350px;
	width:225px;
	float:left;
}








.dungeon {
	height:350px;
	width:200px;
	float:left;
}


.stairsUp {
	width:200px;
	height:40px;
	padding-top:10px;
	background-color:black;
	margin-bottom:25px;
	color:white;
	text-align:center;
	font-size:1.3em;
}

.XstairsUp {
	width:200px;
	height:50px;
	margin-bottom:25px;
}

.dungeonLevel {
	width:200px;
	height:200px;
	background-color:black;

}

.XdungeonLevel {
	width:192px;
	height:192px;
	background-color:white;
	border:4px solid black;
}

.stairsDown {
	width:200px;
	height:36px;
	padding-top:14px;
	background-color:black;
	margin-top:25px;
	color:white;
	text-align:center;
	font-size:1.3em
}


.dungeonLevelText1 {
	width:150px;
	height:50px;
	color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:2.2em;
	padding-top:40px;
}

.XdungeonLevelText1 {
	width:150px;
	height:50px;
	color:black;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:2.2em;
	padding-top:40px;
}

.dungeonLevelText2 {
	width:150px;
	height:50px;
	color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:4em;
}

.XdungeonLevelText2 {
	width:150px;
	height:50px;
	color:black;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:4em;
}






























